<ion-view view-title="Location" class="backgroundImage">
  <ion-content>
    <div class="centerDiv mainFont">
      <div class="largeTopPadding">Latitude: </div>
      <div class="topPadding">{{vm.geoData.latitude || "Not Available"}}</div>
      <div class="largeTopPadding">Longitude: </div>
      <div class="topPadding">{{vm.geoData.longitude || "Not Available"}}</div>
      <div class="largeTopPadding">Altitude: </div>
      <div class="topPadding">{{vm.geoData.altitude || "Not Available"}}</div>
      <div class="largeTopPadding">Speed: </div>
      <div class="topPadding">{{vm.geoData.speed "m/s"|| "Not Available"}}</div>
      <div class="largeTopPadding">GPS Enabled?: </div>
      <div class="topPadding">{{vm.geoData.GPSEnabled || "Default: False"}}</div>
    </div>
  </ion-content>
</ion-view>
